*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    z-index: 0;
    background-color: #f5f5f5;
    align-items: center;
    justify-content: center;
}
.div1{
    margin-top: 50px;
    margin-left: 600px;
    width: 200px;
    
}
.logo{
    width: auto;    
    color: #1877f2;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.div2{
    display: block;
    margin-top: 15px;
    margin-left: 510px;
    background-color: white;
    width: 360px;
    height: 360px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.div2 p{
    color: black;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    margin-left: 100px;
}
.form1{
    display: block;
}
.form1 input  {
    border: 1px solid rgb(186, 180, 180);
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 0px;
    background-color: white;
    border-radius: 5px;
    padding:7px 16px 9px 15px;
    color: #606770;
    font-size: 15px;
    width: 300px;
    height: 30px;
}

.form1 input:focus {
    outline: none;
}

.form1 #Email_error,
.form1 #Pass_error{
    color: red;
    margin: 5px 0 0 20px;
    display: none;
}

.form1 .login{
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: white;
    background-color: #1877f2;
    padding: 10px 135px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 14px;
    margin-bottom: 10px;
    border: 1px solid #1877f2;
    border-radius: 5px;
}

.form1 .a1{
    text-decoration: none;
    text-align: center;
    color: #1877f2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    margin: 10px;

}
.form1 .open{
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: rgb(31, 187, 31);
    padding: 15px 15px;
    display: inline-block;
    margin-top: 15px;
    margin-left: 90px;
    border: 1px solid rgb(31, 187, 31);
    border-radius: 5px;
    font-size: small;
}

/* .div3{
    position: absolute;
    z-index: 2;
    display: block;
    top: 60px;
    left: 510px;
    background-color: white;
    width: 0;
    height: 500px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form2{
    position: absolute;
    z-index: 2;
    display: block;
    top: 60px;
    left: 510px;
    background-color: white;
    width: 0;
    height: 500px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.div4 h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: center;
    margin-top: 0px;
}
.div4 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: smaller;
    text-align: center;
    color: #606770;
} */